*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f9f9f9;
    color: #333;
    
}

/* HEADER */
.top-header{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid #e5e5e5;
    background-image: none;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color: #008000;
}

.logo span{
    font-size: 14px;
    color: #444;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.green-btn{
    background: #1aaa4c;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}

.border-btn{
    border: 2px solid #1aaa4c;
    padding: 10px 20px;
    border-radius: 6px;
    color: #1aaa4c;
    text-decoration: none;
}

/* HERO */
.hero{
    text-align: center;
    padding: 120px 20px;
    background: url('hero.jpg') center/cover no-repeat;
    color: white;
}


.hero span{
    color: #1aaa4c;
}

.hero-buttons{
    margin-top: 20px;
}

.hero-buttons a{
    margin: 10px;
}

/* PROBLEMS */
.problems{
    text-align: center;
    padding: 70px 40px;
}

.problem-boxes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.box{
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #eee;
}

/* SECOND BRAIN */
.second-brain{
    padding: 80px 40px;
    background: white;
    display: flex;
    justify-content: center;
 
}

.content{
    max-width: 500px;
}

.content ul{
    margin-top: 20px;
}

.content li{
    list-style: none;
    margin: 8px 0;
    font-size: 17px;
}

/* CTA */
.cta{
    text-align: center;
    padding: 60px;
    background: #f1f8f3;
}

.big{
    padding: 15px 35px;
    font-size: 18px;
}

/* FOOTER */
footer{
    background: #002440;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-logo{
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    
}


